.life-bar {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -32%;
	height: 50px;
	width: 100%;
}

.life-bar--success {
	background-color: green;
}

.life-bar--warning {
	background-color: orange;
}

.life-bar--danger {
	background-color: red;
}
